/** Fucss globals */ 
html, body{min-height: 100%; height: 100%;}
body{margin: 0; text-align: center; border-width: 0;              font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;letter-spacing: 0.02em;              -webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}
*{outline: 0; padding: 0; box-sizing: border-box; margin: 0; border-style: solid; outline-style: solid; border-width: 0; vertical-align: baseline;}
a{text-decoration: none; color: inherit;}
a, span, img, button, i, label{display: inline-block;}
button, a, i, label, img{cursor: pointer; font-style: normal;}
input, button, select, option, textarea{font-size: 100%; font-family: inherit;}
::selection{background: #1fb5a7; color: #fff;}
[contenteditable]{cursor: text}
[contenteditable]:empty:before{content: attr(placeholder); opacity: 0.5; display: block;}
/** Fucss class rules */ 
.ff\:Nunito{font-family:"Nunito";}
.c\:txt{color:#535353;}
.bg\:fafafa{background:#fafafa;}
.w\:100pc{width:100%;}
.dp\:flx{display:flex;}
.jc\:c{justify-content:center;}
.flxw\:wrap{flex-wrap:wrap;}
.fd\:col{flex-direction:column;}
.ai\:c{align-items:center;}
.bd-t\:1px-sd-e8e8e8{border-top:1px solid #e8e8e8;}
.bd-t\:0-\!{border-top:0 !important;}
.bd-l\:0-\!{border-left:0 !important;}
.mxw\:550px{max-width:550px;}
.c\:white{color:#fff;}
.m\:auto{margin:auto;}
.bg\:whitea95{background:rgba(255,255,255,0.95);}
.c\:sec{color:#FCCD12;}
.m-tb\:30px{margin-top:30px;margin-bottom:30px;}
.p\:20px-30px{padding:20px 30px;}
.br\:5px{border-radius:5px;}
.bd\:1px-sd-e8e8e8{border:1px solid #e8e8e8;}
.bg\:black{background:#111;}
.m-b\:20px{margin-bottom:20px;}
.bd-b\:1px-sld-grey200{border-bottom:1px solid #e0e0e0;}
.p-b\:15px{padding-bottom:15px;}
.fw\:400{font-weight:400;}
.op\:0\.7{opacity:0.7;}
.fw\:normal-\!{font-weight:normal !important;}
.m-t\:16px{margin-top:16px;}
.c\:black{color:#111;}
.m-t\:20px{margin-top:20px;}
.c\:sec-\!{color:#FCCD12 !important;}
.p\:20px{padding:20px;}
.bg\:white{background:#fff;}
.mxw\:500px{max-width:500px;}
.jc\:sb{justify-content:space-between;}
.w\:33pc{width:33%;}
.c\:e8e8e8{color:#e8e8e8;}
.fs\:350pc{font-size:350%;}
.m-b\:10px{margin-bottom:10px;}
.m-r\:10px{margin-right:10px;}
.w\:70pc{width:70%;}
.p-l\:10px{padding-left:10px;}
.crs\:pt{cursor:pointer;}
.bd\:1px-sd-f0f0f0{border:1px solid #f0f0f0;}
.p\:15px-10px{padding:15px 10px;}
.bg\:F8F9FC{background:#F8F9FC;}
.ps\:rl{position:relative;}
.of\:hd{overflow:hidden;}
.ts\:all{transition:all .45s cubic-bezier(0.23, 1, 0.32, 1);}
.hv-try\:2px:hover{transform:translateY(2px);}
.bs\:1{box-shadow:0px 1px 2px rgba(0,0,0,0.10);}
.fs\:1\.5em{font-size:1.5em;}
.fs\:1em{font-size:1em;}
.tt\:capitalize{text-transform:capitalize;}
.m-rl\:10npx{margin-right:-10px;margin-left:-10px;}
.p-rl\:10px{padding-right:10px;padding-left:10px;}
.bd\:1px-sd-orange{border:1px solid #FF9800;}
.p\:10px{padding:10px;}
.bg\:orange{background:#FF9800;}
.m-b\:5px{margin-bottom:5px;}
.fw\:600{font-weight:600;}
.bd\:1px-sd-6BC4BC{border:1px solid #6BC4BC;}
.bg\:6BC4BC{background:#6BC4BC;}
.bd\:1px-sd-f57167{border:1px solid #f57167;}
.bg\:f57167{background:#f57167;}
.mnh\:calc\(100vh-95px\){min-height:calc(100vh - 95px);}
.mxw\:1000px{max-width:1000px;}
.m-rl\:auto{margin-right:auto;margin-left:auto;}
.mnh\:calc\(100vh-40px\){min-height:calc(100vh - 40px);}
.mxw\:100pc{max-width:100%;}
.p-t\:75px{padding-top:75px;}
.p-t\:20px{padding-top:20px;}
.mnh\:100vh{min-height:100vh;}
.p-l\:0{padding-left:0;}
.w\:250px{width:250px;}
.m-r\:20px{margin-right:20px;}
.mxw\:1200px{max-width:1200px;}
.ai\:fs{align-items:flex-start;}
.ps\:ab{position:absolute;}
.t\,l\:0{top:0;left:0;}
.h\:100pc{height:100%;}
.op\:0\.5{opacity:0.5;}
.w\,h\,lh\:40px{width:40px;height:40px;line-height:40px;}
.mnw\:40px{min-width:40px;}
.ta\:c{text-align:center;}
.p\:0{padding:0;}
.bd\:2px-sd-fff{border:2px solid #fff;}
.br\:50pc{border-radius:50%;}
.fs\:\.75em{font-size:.75em;}
.fw\:700{font-weight:700;}
.bs\:2{box-shadow:0px 2px 4px rgba(0,0,0,0.12);}
.hv-try\:1px:hover{transform:translateY(1px);}
.m-rl\:15px{margin-right:15px;margin-left:15px;}
.p\:0-\!{padding:0 !important;}
.mxh\:600px{max-height:600px;}
.of-y\:scroll{overflow-Y:scroll;}
.ta\:l{text-align:left;}
.fs\:85pc{font-size:85%;}
.c\:prim{color:#1fb5a7;}
.fs\:75pc{font-size:75%;}
.m-tb\:10px{margin-top:10px;margin-bottom:10px;}
.p-t\:10px{padding-top:10px;}
.ta\:r{text-align:right;}
.p-rl\:15px{padding-right:15px;padding-left:15px;}
.m-tb\:20px{margin-top:20px;margin-bottom:20px;}
.bg\:white-\!{background:#fff !important;}
.c\:prim-\!{color:#1fb5a7 !important;}
.mnw\:150px{min-width:150px;}
.m-t\:8px{margin-top:8px;}
.c\:white-\!{color:#fff !important;}
.hv-bd\:1px-sd-f57167-\!_bg\:f57167-\!:hover{border:1px solid #f57167 !important;background:#f57167 !important;}
.jc\:fs{justify-content:flex-start;}
.fs\:16px{font-size:16px;}
.p\:5px{padding:5px;}
.m-b\:15px{margin-bottom:15px;}
.fw\:500{font-weight:500;}
.p-r\:10px{padding-right:10px;}
.flxb\:100pc{flex-basis:100%;}
.p\:2px{padding:2px;}
.bg\:prima3{background:rgba(31,181,167,0.3);}
.lh\:1{line-height:1;}
.bg\:prim{background:#1fb5a7;}
.mnw\:15pc{min-width:15%;}
.h\:24px{height:24px;}
.p-t\:1px{padding-top:1px;}
.br\:4px{border-radius:4px;}
.m\:0{margin:0;}
.mnw\:250px{min-width:250px;}
.bd\:1px-sd-prim{border:1px solid #1fb5a7;}
.p\:15px{padding:15px;}
.mnh\:60px{min-height:60px;}
.bd-t\:1px-sd-f0f0f0_div div{border-top:1px solid #f0f0f0;}
.bd-t\:1px-sd-f5f5f5_div div{border-top:1px solid #f5f5f5;}
.dp\:ib{display:inline-block;}
.w\,h\:18px{width:18px;height:18px;}
.bd\:2px-sd-white{border:2px solid #fff;}
.bg\:00d061{background:#00d061;}
.bg\:red{background:#F44336;}
.br\:5px-10px-0-0{border-radius:5px 10px 0 0;}
.bg\:none{background:none;}
.b\:100pc{bottom:100%;}
.l\:100pc{left:100%;}
.m-bl\:10npx{margin-bottom:-10px;margin-left:-10px;}
.fs\:\.8em{font-size:.8em;}
.dp\:none{display:none;}
.bd-b\:1px-sd-ccc{border-bottom:1px solid #ccc;}
.p-r\:25px{padding-right:25px;}
.p-tb\:5px{padding-top:5px;padding-bottom:5px;}
.bd-c\:prim{border-color:#1fb5a7;}
.r\:0{right:0;}
.t\:0{top:0;}
.fs\:14px{font-size:14px;}
.c\:grey200{color:#e0e0e0;}
.m-t\:10px{margin-top:10px;}
.w\,h\:100px{width:100px;height:100px;}
.bg-sz\:cv-\!{background-size:cover !important;}
.bg-ps\:c{background-position:center;}
.t\:0px{top:0px;}
.r\:7px{right:7px;}
.h\,lh\:16px{height:16px;line-height:16px;}
.p-rl\:4px{padding-right:4px;padding-left:4px;}
.fs\:10px{font-size:10px;}
.ps\:fx{position:fixed;}
.z\:999{z-index:999;}
.z\:5{z-index:5;}
.t\,r\:0{top:0;right:0;}
.bg\:fff{background:#fff;}
.bd-b\:1px-sd-e5e5e5{border-bottom:1px solid #e5e5e5;}
.h\:55px{height:55px;}
.w\:calc\(100pc-70px\){width:calc(100% - 70px);}
.p\:8px-15px{padding:8px 15px;}
.bg\:ts{background:transparent;}
.ts\:bg{transition:background .45s cubic-bezier(0.23, 1, 0.32, 1);}
.hv-c\:prim_ts\:all_svg:hover svg{color:#1fb5a7;transition:all .45s cubic-bezier(0.23, 1, 0.32, 1);}
.h\:calc\(100vh-55px\){height:calc(100vh - 55px);}
.b\,r\:0{bottom:0;right:0;}
.trl\:100pc{transform:translate(100%);}
.bg\:sec{background:#FCCD12;}
.fs\:80pc{font-size:80%;}
.br\:2px{border-radius:2px;}
.ws\:np{white-space:nowrap;}
.mxh\:30px{max-height:30px;}
.c\:inh{color:inherit;}
.bg\:greena9{background:rgba(76,175,80,0.9);}
.bg\:reda8{background:rgba(244,67,54,0.8);}
.h\:85pc{height:85%;}
.br\:100pc{border-radius:100%;}
.w\,h\:40px{width:40px;height:40px;}
.bg-c\:prim{background-color:#1fb5a7;}
.an\:scaler-1s-inf-eio{animation:scaler 1s infinite ease-in-out;}
.bg\:blacka5{background:rgba(17,17,17,0.5);}
.l\,t\:0{left:0;top:0;}
.z\:2{z-index:2;}
.z\:10{z-index:10;}
.fs\:300pc{font-size:300%;}
.fw\:100{font-weight:100;}
.p\:3px{padding:3px;}
.p\:4px{padding:4px;}
.w\,h\,lh\:25px{width:25px;height:25px;line-height:25px;}
.fs\:90pc{font-size:90%;}
.w\,h\,lh\:45px{width:45px;height:45px;line-height:45px;}
.fs\:120pc{font-size:120%;}
.w\,h\,lh\:75px{width:75px;height:75px;line-height:75px;}
.fs\:140pc{font-size:140%;}
.w\,h\,lh\:100px{width:100px;height:100px;line-height:100px;}
.fs\:160pc{font-size:160%;}
.w\,h\:100pc{width:100%;height:100%;}
.an\:fadeIn-1s{animation:fadeIn 1s;}
.bg\:blacka7{background:rgba(17,17,17,0.7);}
.r\,t\:0{right:0;top:0;}
.hv-bg\:sec600:hover{background:#043259;}
.p\:40px-50px{padding:40px 50px;}
.t\,l\,r\:0{top:0;left:0;right:0;}
.h\:100vh{height:100vh;}
.z\:20{z-index:20;}
.z\:15{z-index:15;}
.bs\:0-1px-5px-000a3{box-shadow:0 1px 5px rgba(0,0,0,0.3);}
.fs\:1\.75em{font-size:1.75em;}
.fs\:\.85em{font-size:.85em;}
.p\:10px-15px{padding:10px 15px;}
.m-t\:25px{margin-top:25px;}
.mnw\:100px{min-width:100px;}
.sh\:0-1px-3px-000a2{box-shadow:0 1px 3px rgba(0,0,0,0.2);}
.bd\:0{border:0;}
.an\:land-0\.5s{animation:land 0.5s;}
.p-b\:80px{padding-bottom:80px;}
.mxh\:100vh{max-height:100vh;}
.mxw\:600px{max-width:600px;}
.bg-sz\:cv{background-size:cover;}
.dp\:bk{display:block;}
.op\:0\.8{opacity:0.8;}
.m\:8px-0{margin:8px 0;}
.hv-scl\:1\.05:hover{transform:scale(1.05);}
.h\,w\,lh\:85px{height:85px;width:85px;line-height:85px;}
.h\,w\,lh\:65px{height:65px;width:65px;line-height:65px;}
.h\,w\,lh\:35px{height:35px;width:35px;line-height:35px;}
.an\:fadeIn-0\.5s{animation:fadeIn 0.5s;}
.of\:auto{overflow:auto;}
.c\:orange{color:#FF9800;}
.bg\:grey200{background:#e0e0e0;}
.c\:555{color:#555;}
.m-t\:15px{margin-top:15px;}
.sh\:0-1px-2px-000a1{box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.op\:0\.25{opacity:0.25;}
.m-t\:5px{margin-top:5px;}
.h\:calc\(100vh-140px\){height:calc(100vh - 140px);}
.of-y\:auto{overflow-Y:auto;}
.p-tb\:40px{padding-top:40px;padding-bottom:40px;}
.bd\:3px-sd-prim{border:3px solid #1fb5a7;}
.bg-sz\:cover{background-size:cover;}
.m-l\:6px{margin-left:6px;}
.dp\:n{display:none;}
.mxw\:200px{max-width:200px;}
.fs\:70pc{font-size:70%;}
.c\:grey300{color:#bdbdbd;}
.fs\:60pc{font-size:60%;}
.br\:3px{border-radius:3px;}
.p\:2px-7px{padding:2px 7px;}
.bg\:282828{background:#282828;}
.z\:3{z-index:3;}
.w\:70px{width:70px;}
.op\:0{opacity:0;}
.b\:0{bottom:0;}
.p\:20px-10px{padding:20px 10px;}
.l\:0{left:0;}
.z\:1{z-index:1;}
.b\:80px{bottom:80px;}
.bd-tb\:1px-sd-333{border-top:1px solid #333;border-bottom:1px solid #333;}
.p\:10px-5px{padding:10px 5px;}
.bd\:2px-sd-ts{border:2px solid transparent;}
.hv-c\:prim:hover{color:#1fb5a7;}
.hv-scl\:1\.05_bd\:2px-sd-prim_br\:50pc:hover{transform:scale(1.05);border:2px solid #1fb5a7;border-radius:50%;}
.w\,h\:26px{width:26px;height:26px;}
.w\,h\:50px{width:50px;height:50px;}
.m-b\:6px{margin-bottom:6px;}
.m-tb\:5px{margin-top:5px;margin-bottom:5px;}
.c\:prim300{color:#3ed4c6;}
.bd-t\:1px-sd-333{border-top:1px solid #333;}
.bd-l\:2px-sd-prim{border-left:2px solid #1fb5a7;}
.bd-l\:2px-sd-ts{border-left:2px solid transparent;}
.p\:20px-5px{padding:20px 5px;}
.w\:8pc{width:8%;}
.w\:40pc{width:40%;}
.m-r\:10npx{margin-right:-10px;}
.w\:60pc{width:60%;}
.ai\:fe{align-items:flex-end;}
.m-b\:8px{margin-bottom:8px;}
.c\:blacka5{color:rgba(17,17,17,0.5);}
.lh\:2\.35{line-height:2.35;}
.fw\:bold{font-weight:bold;}
.p-b\:20px{padding-bottom:20px;}
.bd-b\:1px-sd-e8e8e8{border-bottom:1px solid #e8e8e8;}
.p\:8px-24px{padding:8px 24px;}
.w\:50pc{width:50%;}
.mnh\:500px{min-height:500px;}
.w\,h\:190px{width:190px;height:190px;}
.m\:10px{margin:10px;}
.bg-c\:e8e8e8{background-color:#e8e8e8;}
.bg-rp\:nrp{background-repeat:no-repeat;}
.h\:180px{height:180px;}
.hv-bs\:2:hover{box-shadow:0px 2px 4px rgba(0,0,0,0.12);}
.p-tb\:10px{padding-top:10px;padding-bottom:10px;}
.jc\,ai\:c{justify-content:center;align-items:center;}
.h\,w\:100pc{height:100%;width:100%;}
.bd\:none{border:none;}
.bg\:E8E8E8{background:#E8E8E8;}
.fs\:100pc{font-size:100%;}
.bg\:e8e8e8{background:#e8e8e8;}
.w\,h\:48px{width:48px;height:48px;}
.br\:24px{border-radius:24px;}
.m-b\:4px{margin-bottom:4px;}
.p\:4px-12px{padding:4px 12px;}
.bg\:prima2{background:rgba(31,181,167,0.2);}
.va\:m{vertical-align:middle;}
.p-t\:0{padding-top:0;}
.w\:180px{width:180px;}
.p-b\:10px{padding-bottom:10px;}
.w\:395px{width:395px;}
.mnh\:580px{min-height:580px;}
.p\:0-0-20px{padding:0 0 20px;}
.bg\:n{background:none;}
.tt\:uc{text-transform:uppercase;}
.fs\:110pc{font-size:110%;}
.p-r\:5px{padding-right:5px;}
.p\:12px-15px{padding:12px 15px;}
.fw\:800{font-weight:800;}
.bd-b\:1px-sd-grey200{border-bottom:1px solid #e0e0e0;}
.p\:25px-0{padding:25px 0;}
.mnw\:200px{min-width:200px;}
.t\,r\:10npx{top:-10px;right:-10px;}
.w\:100pc_md-w\:auto{width:100%;width:auto;}
.hv-c\:red-\!_bd\:1px-sd-red-\!:hover{color:#F44336 !important;border:1px solid #F44336 !important;}
.h\:40px{height:40px;}
.jc\:fe{justify-content:flex-end;}
.w\:150px{width:150px;}
.c\:555-\!{color:#555 !important;}
.p\:7px-15px-\!{padding:7px 15px !important;}
.hv-p\:7px-15px-\!_c\:prim-\!:hover{padding:7px 15px !important;color:#1fb5a7 !important;}
.od\:1{order:1;}
.p\:7px{padding:7px;}
.bg\:eee{background:#eee;}
.bd\:1px-sd-ddd{border:1px solid #ddd;}
.hv-bg\:prima7:hover{background:rgba(31,181,167,0.7);}
.hv-bd-c\:prima7:hover{border-color:rgba(31,181,167,0.7);}
.h\:175px{height:175px;}
.bg-c\:grey200{background-color:#e0e0e0;}
.bg-ps\:c-\!{background-position:center !important;}
.bd\:1px-dashed-ddd{border:1px dashed #ddd;}
.hv-c\:white_svg:hover svg{color:#fff;}
.hv-bd-c\:white_div:hover div{border-color:#fff;}
.fs\:3em{font-size:3em;}
.c\:ddd{color:#ddd;}
.m-b\:25px{margin-bottom:25px;}
.fs\:95pc{font-size:95%;}
.bd-b\:2px-sd-white{border-bottom:2px solid #fff;}
.c\:green400{color:#5bbe5f;}
.c\:red400{color:#ff5245;}
.c\:yellow600{color:#f0dc2c;}
.p\:0-10px-10px{padding:0 10px 10px;}
.c\:grey{color:#9E9E9E;}
.t\,r\:16npx{top:-16px;right:-16px;}
.fs\:18px{font-size:18px;}
.c\:yellow700{color:#e0cc1c;}
.c\:geen{color:geen;}
.c\:red{color:#F44336;}
.bg\:fffa9_c\:sec_br\:5px_fs\:90pc_p\:10px-20px_m-t\:15px_m-r\:10px_md-m-t\:0_w\:100pc_md-w\:auto_bd\:1px-sd-000a15_label label{background:rgba(255,255,255,0.9);color:#FCCD12;border-radius:5px;font-size:90%;padding:10px 20px;margin-top:15px;margin-right:10px;margin-top:0;width:100%;width:auto;border:1px solid rgba(0,0,0,0.15);}
.hv-bs\:1_bd\:1px-sd-prim_c\:prim_label:hover label{box-shadow:0px 1px 2px rgba(0,0,0,0.10);border:1px solid #1fb5a7;color:#1fb5a7;}
.p-b\:2px_svg svg{padding-bottom:2px;}
.bg\:none_c\:prim_fs\:\.85em_p\:10px-15px_m-t\:15px_md-m-t\:0_w\:100pc_mnw\:80px_md-w\:auto_lh\:1\.25_bd\:0_mxw\:120px_ws\:normal_bd\:1px-dashed-prim_br\:0_label label{background:none;color:#1fb5a7;font-size:.85em;padding:10px 15px;margin-top:15px;margin-top:0;width:100%;min-width:80px;width:auto;line-height:1.25;border:0;max-width:120px;white-space:normal;border:1px dashed #1fb5a7;border-radius:0;}
.dp\:ib_ps\:ab_b\:3npx_h\:5px_br\:5px_bg\:prim_span span{display:inline-block;position:absolute;bottom:-3px;height:5px;border-radius:5px;background:#1fb5a7;}
.c\:prim400{color:#2ec4b6;}
.w\:50pc_l\:50pc_trx\:50npc_span span{width:50%;left:50%;transform:translateX(-50%);}
.w\:0_l\:0_m-l\:0_span span{width:0;left:0;margin-left:0;}
.p\:20px-15px{padding:20px 15px;}
.w\:70pc_l\:50pc_trx\:50npc_span span{width:70%;left:50%;transform:translateX(-50%);}
.sh\:0-1px-2px-000a15{box-shadow:0 1px 2px rgba(0,0,0,0.15);}
.p\:10px-0{padding:10px 0;}
.flxg\:1{flex-grow:1;}
.flxb\:50pc{flex-basis:50%;}
.m-r\:15px{margin-right:15px;}
.m-tb\:15px{margin-top:15px;margin-bottom:15px;}
.bg\:black300{background:#303030;}
.p-l\:20px{padding-left:20px;}
.bg-c\:grey{background-color:#9E9E9E;}
.w\,h\:30px{width:30px;height:30px;}
.hv-scl\:2\.75_l\:5px:hover{transform:scale(2.75);left:5px;}
.m-l\:10npx{margin-left:-10px;}
.t\,l\,b\:0{top:0;left:0;bottom:0;}
.bd-l\:3px-sld-white{border-left:3px solid #fff;}
.bd-l\:3px-sld-prim{border-left:3px solid #1fb5a7;}
.bd-l\:3px-sld-orange{border-left:3px solid #FF9800;}
.bd-l\:3px-sld-00d061{border-left:3px solid #00d061;}
.bd-l\:3px-sld-red{border-left:3px solid #F44336;}
.bd-l\:3px-sld-black{border-left:3px solid #111;}
.m\:3px{margin:3px;}
.p\:1px{padding:1px;}
.c\:green{color:#4CAF50;}
.p\:0-10px{padding:0 10px;}
.w\:25pc{width:25%;}
.mxw\:100px{max-width:100px;}
.m-l\:5px{margin-left:5px;}
.p\:7px-0-7px-12px{padding:7px 0 7px 12px;}
.p\:7px-14px{padding:7px 14px;}
.hv-c\:white_bg\:prim:hover{color:#fff;background:#1fb5a7;}
.bd-l\:1px-sd-prim{border-left:1px solid #1fb5a7;}
.bg\:blacka1{background:rgba(17,17,17,0.1);}
.mh\:390px{min-height:390px;}
.m-l\:10px{margin-left:10px;}
.mnw\:50px{min-width:50px;}
.p\:10px-20px{padding:10px 20px;}
.bd\:1px-sd-000a15{border:1px solid rgba(0,0,0,0.15);}
.hv-c\:prim_bd\:1px-sd-prim_try\:2px:hover{color:#1fb5a7;border:1px solid #1fb5a7;transform:translateY(2px);}
.mnw\:5px{min-width:5px;}
.bd\:1px-sd-blacka15{border:1px solid rgba(17,17,17,0.15);}
.hv-c\:f57167_bd\:1px-sd-f57167_try\:2px:hover{color:#f57167;border:1px solid #f57167;transform:translateY(2px);}
.mnw\:80px{min-width:80px;}
.c\:f57167{color:#f57167;}
.c\:00d061{color:#00d061;}
.c\:ffd700{color:#ffd700;}
.mnh\:200px{min-height:200px;}
.t\:50pc{top:50%;}
.try\:50npc{transform:translateY(-50%);}
.bd-l\:1px-sd-e8e8e8{border-left:1px solid #e8e8e8;}
.m-b\:30px{margin-bottom:30px;}
.bg\:whitea3{background:rgba(255,255,255,0.3);}
.mnw\:12pc{min-width:12%;}
.bg\:green{background:#4CAF50;}
.dp\:td{display:table-cell;}
.bz\:cbx{box-sizing:content-box;}
.mxh\:calc\(100vh-300px\){max-height:calc(100vh - 300px);}
.p-r\:27px{padding-right:27px;}
.dp\:tb{display:table;}
.bd-clp\:clp{border-collapse:collapse;}
.c\:whitea8{color:rgba(255,255,255,0.8);}
.bd-w\:1px{border-width:1px;}
.bd-c\:blacka1{border-color:rgba(17,17,17,0.1);}
.bd-t-w\:1px{border-top-width:1px;}
.bd-c\:greya2{border-color:rgba(158,158,158,0.2);}
.p\:12px-10px{padding:12px 10px;}
.dp\:tr{display:table-row;}
.bd-b\:10px-solid-sec600{border-bottom:10px solid #043259;}
.fs\:200pc{font-size:200%;}
.p-rl\:20px{padding-right:20px;padding-left:20px;}
.m-r\:40px{margin-right:40px;}
.p\:20px-0{padding:20px 0;}
.fw\:300{font-weight:300;}
.w\:20pc{width:20%;}
.m-l\:20px{margin-left:20px;}
.mxw\:150px{max-width:150px;}
.bg\:grey100{background:#fcfcfc;}
.h\:0{height:0;}
.w\:370px{width:370px;}
.bs\:1npx-1px-16px-e0e0e0{box-shadow:-1px 1px 16px #e0e0e0;}
.op\:1{opacity:1;}
.w\:400px{width:400px;}
.ta\:left{text-align:left;}
.p-b\:6px{padding-bottom:6px;}
.fs\:12px{font-size:12px;}
.bd\:1px-sd-white{border:1px solid #fff;}
.w\:30px{width:30px;}
.mnw\:15px{min-width:15px;}
.flxb\:calc\(60pc-30px\){flex-basis:calc(60% - 30px);}
.flxb\:40pc{flex-basis:40%;}
.p\:7px-15px{padding:7px 15px;}
.w\:120px{width:120px;}
.bg\:F57167{background:#F57167;}
.p-t\:15px{padding-top:15px;}
.p\:20px-10px-0-10px{padding:20px 10px 0 10px;}
.p-rl\:12px{padding-right:12px;padding-left:12px;}
.fc-bd\:1px-sd-prim:focus{border:1px solid #1fb5a7;}
.ta\:c-\!{text-align:center !important;}
.bg\:inherit{background:inherit;}
.w\:20px{width:20px;}
.c\:ccc{color:#ccc;}
.t\:10px{top:10px;}
.r\:12px{right:12px;}
.fs\:24px{font-size:24px;}
.hv-c\:prim-\!:hover{color:#1fb5a7 !important;}
.p-b\:0{padding-bottom:0;}
.p-tb\:20px{padding-top:20px;padding-bottom:20px;}
.bd-b\:1px-sd-whitea2{border-bottom:1px solid rgba(255,255,255,0.2);}
.p-b\:5px{padding-bottom:5px;}
.p-t\:25px{padding-top:25px;}
.bd-b\:1px-sd-whitea4{border-bottom:1px solid rgba(255,255,255,0.4);}
.m-r\:8px{margin-right:8px;}
.m-l\:8px{margin-left:8px;}
.h\,w\,lh\:20px{height:20px;width:20px;line-height:20px;}
.td\:ul{text-decoration:underline;}
.c\:yellow800{color:#d1bd0d;}
.w\,h\,lh\:50px{width:50px;height:50px;line-height:50px;}
.p\:6px-12px{padding:6px 12px;}
.bg\:yellow800{background:#d1bd0d;}
.bg\:red300{background:#ff6255;}
.bg\:tert{background:#1B598D;}
.c\:sec300{color:#326087;}
.c\:sec400{color:#225077;}
.bg\:grey300-\!{background:#bdbdbd !important;}
.bd-c\:grey600-\!{border-color:#8f8f8f !important;}
.crs\:n{cursor:none;}
.hv-bg\:white_bs\:2_c\:prim:hover{background:#fff;box-shadow:0px 2px 4px rgba(0,0,0,0.12);color:#1fb5a7;}
.m-r\:5px{margin-right:5px;}
.p\:3px-10px{padding:3px 10px;}
.m\:5px{margin:5px;}
.bd-b\:2px-sd-green{border-bottom:2px solid #4CAF50;}
.bd-b\:2px-sd-red{border-bottom:2px solid #F44336;}
.bd-b\:2px-sd-ccc{border-bottom:2px solid #ccc;}
.bd-b-w\:1px{border-bottom-width:1px;}
.bd\:1px-sld-ccca5{border:1px solid rgba(204,204,204,0.5);}
.c\:txt-\!{color:#535353 !important;}
.h\:calc\(100pc-200px\){height:calc(100% - 200px);}
.b\:15px{bottom:15px;}
.l\:50pc{left:50%;}
.trx\:50npc{transform:translateX(-50%);}
.ps\:ab-\!{position:absolute !important;}
.bg\:fffa9_c\:black_br\:5px_fs\:80pc_p\:10px-15px_m-t\:15px_md-m-t\:0_w\:100pc_mnw\:100px_md-w\:auto_bd\:0_fw\:600_label label{background:rgba(255,255,255,0.9);color:#111;border-radius:5px;font-size:80%;padding:10px 15px;margin-top:15px;margin-top:0;width:100%;min-width:100px;width:auto;border:0;font-weight:600;}
.hv-bs\:1_label:hover label{box-shadow:0px 1px 2px rgba(0,0,0,0.10);}
.bg-pos\:c{background-position:center;}
.h\:200px{height:200px;}
.crs\:pnt{cursor:pointer;}
.bg-pos\:l{background-position:left;}
.fs\:20px-\!{font-size:20px !important;}
.bd-b\:1px-sd-e0e0e0a5{border-bottom:1px solid rgba(224,224,224,0.5);}
.p-tb\:15px{padding-top:15px;padding-bottom:15px;}
.as\:c{align-self:center;}
.of\:hidden{overflow:hidden;}
.flxd\:col{flex-direction:column;}
.bd-b\:1px-sd-e0e0e0{border-bottom:1px solid #e0e0e0;}
.p-b\:3px{padding-bottom:3px;}
.p-r\:15px{padding-right:15px;}
.hv-bg\:prim_c\:white_bs\:1_p-rl\:12px:hover{background:#1fb5a7;color:#fff;box-shadow:0px 1px 2px rgba(0,0,0,0.10);padding-right:12px;padding-left:12px;}
.p-tb\:8px{padding-top:8px;padding-bottom:8px;}
.p\:0-12px{padding:0 12px;}
.hv-bg\:prim_c\:white_bs\:2_try\:1px:hover{background:#1fb5a7;color:#fff;box-shadow:0px 2px 4px rgba(0,0,0,0.12);transform:translateY(1px);}
.hv-bd\:1px-sd-prim_c\:prim:hover{border:1px solid #1fb5a7;color:#1fb5a7;}
.p\:4px-11px{padding:4px 11px;}
.w\:50px{width:50px;}
.h\:30px{height:30px;}
.br\:3px-0-0-3px{border-radius:3px 0 0 3px;}
.fc-bd\:1px-sd-prim_br\:3px-0-0-3px:focus{border:1px solid #1fb5a7;border-radius:3px 0 0 3px;}
.p\:5px-11px{padding:5px 11px;}
.bd-l\:none{border-left:none;}
.br\:0-3px-3px-0{border-radius:0 3px 3px 0;}
.bd-t\:1px-sld-grey200{border-top:1px solid #e0e0e0;}
.h\:auto{height:auto;}
.b\,l\:0{bottom:0;left:0;}
.bd\:1px-sld-grey200{border:1px solid #e0e0e0;}
.w\,h\,lh\:20px{width:20px;height:20px;line-height:20px;}
.hv-c\:grey:hover{color:#9E9E9E;}
.bg-c\:sec{background-color:#FCCD12;}
.bd\:10px-sd-white{border:10px solid #fff;}
.h\:150px{height:150px;}
.bd\:5px-sld-sec600{border:5px solid #043259;}
.m\:5px-5px-0-0{margin:5px 5px 0 0;}
.b\:20px{bottom:20px;}
.p\:10px-20px_br\:5px_bg\:white_c\:prim_bs\:1_dp\:ib_m\:0-5px_m-t\:10px_button button{padding:10px 20px;border-radius:5px;background:#fff;color:#1fb5a7;box-shadow:0px 1px 2px rgba(0,0,0,0.10);display:inline-block;margin:0 5px;margin-top:10px;}
.fs\:\.95em{font-size:.95em;}
.mxh\:80vh{max-height:80vh;}
.bd\:1px-sd-sec{border:1px solid #FCCD12;}
.r\:5px{right:5px;}
.p\:9px{padding:9px;}
.w\:0{width:0;}
.mxh\:0{max-height:0;}
.mxh\:180px{max-height:180px;}
.t\:100pc{top:100%;}
.m-t\:1npx{margin-top:-1px;}
.sh\:0-1px-3px-000a15{box-shadow:0 1px 3px rgba(0,0,0,0.15);}
.p\:20px-15px-10px{padding:20px 15px 10px;}
.bd-t\:1px-sd-ccc{border-top:1px solid #ccc;}
.hv-bg\:prim:hover{background:#1fb5a7;}
.hv-c\:white:hover{color:#fff;}
.bg\:f5f5f5{background:#f5f5f5;}
.bd-c\:grey200{border-color:#e0e0e0;}
.fc-bs\:1_bd-c\:prim_scl\:1\.05:focus{box-shadow:0px 1px 2px rgba(0,0,0,0.10);border-color:#1fb5a7;transform:scale(1.05);}
.h\,w\:0{height:0;width:0;}
.w\:100pc-\!{width:100% !important;}
.bg\:sec600{background:#043259;}
.bd\:1px-sld-sec400{border:1px solid #225077;}
.br\:5px-0-0-3px{border-radius:5px 0 0 3px;}
.fl\:r{float:right;}
.bg\:sec300{background:#326087;}
.w\:calc\(100pc-10px\){width:calc(100% - 10px);}
.m-r\:5px-\!{margin-right:5px !important;}
.bd-b\:1px-sld-tert600{border-bottom:1px solid #0c4a7e;}
.m-b\:3px{margin-bottom:3px;}
.bd-c\:silver600{border-color:#cecece;}
.fc-bs\:1_bd-c\:prim300_scl\:1\.02:focus{box-shadow:0px 1px 2px rgba(0,0,0,0.10);border-color:#3ed4c6;transform:scale(1.02);}
.bd-w-r\:0{border-width-right:0;}
.p\:8px{padding:8px;}
.r\:3px{right:3px;}
.r\:25px{right:25px;}
.r\:6px{right:6px;}
.w\,h\:0{width:0;height:0;}
.m\:0-5px-5px-0{margin:0 5px 5px 0;}
.w\,h\,lh\:11px{width:11px;height:11px;line-height:11px;}
.bg\:grey300{background:#bdbdbd;}
.w\:calc\(100pc-15px\){width:calc(100% - 15px);}
.w\:calc\(100pc-5px\){width:calc(100% - 5px);}
.h\,lh\:175px{height:175px;line-height:175px;}
.w\:200px{width:200px;}
.m-l\:0{margin-left:0;}
.ts\:bs{transition:box-shadow .45s cubic-bezier(0.23, 1, 0.32, 1);}
.hv-scl\:1\.5:hover{transform:scale(1.5);}
.p\:7px-0px{padding:7px 0px;}
.w\:30pc{width:30%;}
.ts\:w{transition:width .45s cubic-bezier(0.23, 1, 0.32, 1);}
.trl\:50npc{transform:translate(-50%);}
.mrg-t\:10px{margin-top:10px;}
.fw\:900{font-weight:900;}
.fl\:l{float:left;}
.ff\:inh{font-family:inherit;}
.ls\:1px{letter-spacing:1px;}
.bd\:1px-solid-sec{border:1px solid #FCCD12;}
.w\:25px{width:25px;}
.w\:150pc{width:150%;}
.p-rl\:5px{padding-right:5px;padding-left:5px;}
.w\,h\,lh\:26px{width:26px;height:26px;line-height:26px;}
.bd\:1px-sld-sec700{border:1px solid #002249;}
.l\,r\:0{left:0;right:0;}
.m-t\:3px{margin-top:3px;}
.c\:tert{color:#1B598D;}
.p-r\:15px-\!{padding-right:15px !important;}
.br\:30px{border-radius:30px;}
.fd\:row{flex-direction:row;}
.m-rl\:4px{margin-right:4px;margin-left:4px;}
.p\:10px-27px-10px-10px{padding:10px 27px 10px 10px;}
.idx\:1{z-index:1;}
.mnw\:300px{min-width:300px;}
.h\:400px{height:400px;}
.m\:5px-0-0-5px{margin:5px 0 0 5px;}
.bg\:black-\!{background:#111 !important;}
.bd\:1px-sd-FCCD12{border:1px solid #FCCD12;}
@media only screen and (min-width: 400px) {
.sm-fs\:400pc{font-size:400%;}
.sm-fd\:row{flex-direction:row;}
.sm-w\:33\.33pc{width:33.33%;}
.sm-w\:50pc{width:50%;}
.sm-h\:calc\(100pc-250px\){height:calc(100% - 250px);}
.sm-h\:250px{height:250px;}
}
@media only screen and (min-width: 768px) {
.md-fd\:row{flex-direction:row;}
.md-m-rl\:10npx{margin-right:-10px;margin-left:-10px;}
.md-w\:50pc{width:50%;}
.md-p-rl\:20px{padding-right:20px;padding-left:20px;}
.md-bd-t\:0{border-top:0;}
.md-bd-l\:1px-sd-e8e8e8{border-left:1px solid #e8e8e8;}
.md-dp\:flx{display:flex;}
.md-fs\:450pc{font-size:450%;}
.md-p\:25px-15px{padding:25px 15px;}
.md-fs\:2em{font-size:2em;}
.md-fs\:1\.25em{font-size:1.25em;}
.md-p\:15px{padding:15px;}
.md-fs\:0\.75em{font-size:0.75em;}
.md-fs\:15px_lh\:1\.3{font-size:15px;line-height:1.3;}
.md-p-l\:70px{padding-left:70px;}
.md-p-l\:0{padding-left:0;}
.md-p\:20px{padding:20px;}
.md-w\:60pc{width:60%;}
.md-od\:1{order:1;}
.md-w\:68pc{width:68%;}
.md-w\:30pc{width:30%;}
.md-od\:2{order:2;}
.md-m-l\:2pc{margin-left:2%;}
.md-w\:auto{width:auto;}
.md-m-t\:0{margin-top:0;}
.md-p\:0-20px-20px{padding:0 20px 20px;}
.md-dp\:ib{display:inline-block;}
.md-w\:40pc{width:40%;}
.md-w\:90pc{width:90%;}
.md-w\:38pc{width:38%;}
.md-m-b\:0{margin-bottom:0;}
.md-mnh\:250px{min-height:250px;}
.md-fs\:130pc{font-size:130%;}
.md-p-tb\:20px{padding-top:20px;padding-bottom:20px;}
.md-flxb\:calc\(40pc-30px\){flex-basis:calc(40% - 30px);}
.md-flxb\:calc\(60pc-120px\){flex-basis:calc(60% - 120px);}
.md-flxb\:120px{flex-basis:120px;}
.md-jc\:fe{justify-content:flex-end;}
.md-m-t\:15px{margin-top:15px;}
.md-flxw\:np{flex-wrap:nowrap;}
.md-fs\:150pc{font-size:150%;}
.md-bd-b\:0{border-bottom:0;}
.md-bd-r\:1px-sd-whitea2{border-right:1px solid rgba(255,255,255,0.2);}
.md-p-t\:15px{padding-top:15px;}
.md-m-b\:10px{margin-bottom:10px;}
.md-m-r\:0{margin-right:0;}
.md-jc\:sb{justify-content:space-between;}
.md-jc\:fs{justify-content:flex-start;}
}
@media only screen and (min-width: 1024px) {
.lg-fs\:3em{font-size:3em;}
.lg-fs\:1\.5em{font-size:1.5em;}
.lg-p-l\:250px{padding-left:250px;}
.lg-flxw\:nowrap{flex-wrap:nowrap;}
.lg-m-b\:0{margin-bottom:0;}
.lg-flxb\:33\.33pc{flex-basis:33.33%;}
.lg-mxw\:200px{max-width:200px;}
.lg-w\:calc\(100pc-250px\){width:calc(100% - 250px);}
.lg-dp\:n{display:none;}
.lg-h\:calc\(100vh-80px\){height:calc(100vh - 80px);}
.lg-dp\:ib{display:inline-block;}
.lg-dp\:bk{display:block;}
.lg-w\:250px_dp\:bk{width:250px;display:block;}
.lg-op\:1{opacity:1;}
.lg-w\:250px{width:250px;}
.lg-w\,h\:75px{width:75px;height:75px;}
.lg-fs\:110pc{font-size:110%;}
.lg-p\:20px{padding:20px;}
.lg-dp\:flx{display:flex;}
.lg-ai\:c{align-items:center;}
.lg-m-r\:10px{margin-right:10px;}
.lg-fs\:100pc{font-size:100%;}
.lg-w\:33\.33pc{width:33.33%;}
}
@media only screen and (min-width: 1280px) {
.xl-fs\:550pc{font-size:550%;}
.xl-fs\:1em{font-size:1em;}
}
@media only screen and (max-width: 767px) {
.mdx-m-t\:20px{margin-top:20px;}
.mdx-fs\:90pc{font-size:90%;}
.mdx-dp\:n{display:none;}
.mdx-m-tb\:10px{margin-top:10px;margin-bottom:10px;}
.mdx-p-b\:0{padding-bottom:0;}
.mdx-p\:10px{padding:10px;}
.mdx-w\:100pc-\!{width:100% !important;}
.mdx-flxw\:wrap{flex-wrap:wrap;}
.mdx-ta\:c{text-align:center;}
.mdx-m-t\:200px{margin-top:200px;}
}
@media only screen and (max-width: 401px) {
.smx-m-b\:20px{margin-bottom:20px;}
}
@keyframes spin{to { transform: rotate(360deg); }}
@keyframes fadeIn{from { opacity: 0.2; } to { opacity: 1; }}
@keyframes fadeOut{from { opacity: 1; } to { opacity: 0.5; }}
@keyframes scaler{0% { transform:scale(0);opacity:1 } to { transform:scale(1);opacity:0 }}
@keyframes hide{to { position: absolute; visibility: hidden; }}
@keyframes land{0% { opacity: 0.3; transform: translateY(-3rem); } to { opacity: 1; transform: translateY(0); }}
@keyframes dash{to { stroke-dashoffset: 0; }}
@keyframes marquee{0% { transform: translateX(0); } 100% { transform: translateX(-50%); }}
@keyframes bounce{0% { transform: scale(1,1) translateY(0); } 10% { transform: scale(1.1,.9) translateY(0); } 30% { transform: scale(.9,1.1) translateY(-100px); } 50% { transform: scale(1.05,.95) translateY(0); } 57% { transform: scale(1,1) translateY(-7px); } 64% { transform: scale(1,1) translateY(0); } 100% { transform: scale(1,1) translateY(0); }}
 /** Incorrect classes btn-login btn-login card-${label total-${label pending-${label activated-${label declined-${label header-title calling && <div id="callScreen" className="h:100vh t,l:0"></div> ' + className `linear-gradient(${primDeg !isLoading ? !wrap ? children <div className="bg:white bs:0-1px-5px-000a3">{children photo || logo || url ? <span style={{ `url(${photo || logo || url ${classNameTitle(props.showNav) profile-img ${classNameTitle(props.showNav) profile-img header-title calling && <div id="callScreen" className="h:100vh t,l:0"></div> ' + className `linear-gradient(${primDeg !isLoading ? !wrap ? children <div className="bg:white bs:0-1px-5px-000a3">{children photo || logo || url ? <span style={{ `url(${photo || logo || url consumer-id w;100pc hasDocument ? classNameChangeBtn() classNameUploadBtn() consumer-id w;100pc hasDocument ? classNameChangeBtn() classNameUploadBtn() document.url ? classNameChangeBtn() classNameUploadBtn() !toggle && ( <Fragment> <div className="ps:ab w:100pc"> <Particles className="h:100pc op:0.5" params={{ { { 8 document.url ? classNameChangeBtn() classNameUploadBtn() !props.noHead && props.fields && ( <div className="dp:tr bd-t:1px-sd-e8e8e8"> {props.allowSelect && ( <div key="selectBox" title="Select item to delete" className="fw:600 va:m"> <Checkbox onSelect={e => props.onSelect(data.map(item => item.id), selected.length >= data.length * 0.8) true true !toggle && ( <Fragment> <div className="ps:ab w:100pc"> <Particles className="h:100pc op:0.5" params={{ { { 8 consumer-id !cameraMode ? ( <div className="p:20px"> <div className={classNameInner(light) !props.noHead && props.fields && ( <div className="dp:tr bd-t:1px-sd-e8e8e8"> {props.allowSelect && ( <div key="selectBox" title="Select item to delete" className="fw:600 va:m"> <Checkbox onSelect={e => props.onSelect(data.map(item => item.id), selected.length >= data.length * 0.8) true true consumer-id !cameraMode ? ( <div className="p:20px"> <div className={classNameInner(light) super(props) this.state = { true fa-2x fa-2x fa-2x fa-2x super(props) this.state = { true fa-2x fa-2x fa-2x fa-2x ' + className ' + className btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login btn-login */